body {
    margin: 0;
    text-align: center;
    /*font-family: 'Croissant One', cursive;*/
    font-family: 'Mitr', sans-serif;
    font-size: 20px;
}
h1{
    /* width: 30%; */
    margin: 50px auto 0 auto;
    font-family: 'Mitr', sans-serif;
    font-size: 4.625rem;
    /* 100% = 1em = 16px
    90px = 5.625em = 5.625rem = 562.5%
    display: flex;
    justify-content: center;
    text-align: center; */
}
h2 {
    font-size: 2.5rem;
    /*text-decoration: underline;*/
}
/* img {
    /* margin: auto;
    display: block; 
} */

span {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
.top-container {
    background-color: #AAC8A7;
    padding-top: 100px;
    position: relative;
}
.profile {
    padding: 35px;
    background-color: #F3FDE8;
}
.profile-img {
    width: 25%;
    border-radius: 50%;
    border: solid #fe80bd;
    border-width: 6px;
}
.skills {
    padding: 100px;
    background-color: #FFE5E5;
}
.skill-row {
    width: 30%;
    margin: 50px auto;
    text-align: left;
    border-style: solid;
    padding: 10px;
    background-color:#FFF8C9;
}
.img-java {
    width: 30%;
    margin-right: 20px;
    float: left;
}
.img-HTML {
    width: 20%;
    margin-right: 20px;
    float: right;
}
.Educate {
    padding: 35px;
    background-color: #A6F6FF;
}
.study {
    width: 50%;
    margin: 50px auto;
    /*text-align: left;
    border-style: solid;
    padding: 10px;
    background-color:#FFF8C9;*/
}
.img-pim {
    width: 25%;
    margin: 20px;
    /*float: left;*/
}
.img-RW {
    width: 20%;
    margin: 20px;
    /*float: right;*/
}
.Experience {
    padding: 35px;
    background-color: #E5CFF7;
}
.skill-ex {
    width: 50%;
    margin: 50px auto;
}
.img-7 {
    width: 20%;
    margin: 20px;
}
.img-south {
    width: 25%;
    margin: 20px;
}